<main class="d-flex flex-column align-items-center gap-3">
  <h1 class="fs-1 fw-bold">Born to Be Hero</h1>
  <div class="card" [style.width.rem]="18">
    <img src="../assets/img/batman.webp" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title fs-3 fw-bold">Batman</h5>
      <h5 class="fs-5 fw-bold mb-3" [style.textDecoration]="'underline'">Abilità</h5>
      <ul class="ms-4">
        <li>
          <p class="card-text">Intimidazione</p>
        </li>
        <li>
          <p class="card-text">Interrogatorio</p>
        </li>
        <li>
          <p class="card-text">Intelletto</p>
        </li>
        <li>
          <p class="card-text">Arti Marziali</p>
        </li>
        <li>
          <p class="card-text">Armi Tecnologiche</p>
        </li>
      </ul>
    </div>
  </div>
</main>
